In [43]:
import pandas as pd
import numpy as np

In [44]:
data = {'title': ['The Shawshank Redemption', 'The Godfather', 'The Dark Knight'], 
        'json_col': ['{"year": 1994, "director": "Frank Darabont"}', 
                     '{"year": 1972, "director": "Francis Ford Coppola"}', 
                     '{"year": 2008, "director": "Christopher Nolan"}']}

df = pd.DataFrame(data)

In [45]:
df

                      title                                           json_col
0  The Shawshank Redemption       {"year": 1994, "director": "Frank Darabont"}
1             The Godfather  {"year": 1972, "director": "Francis Ford Coppo...
2           The Dark Knight    {"year": 2008, "director": "Christopher Nolan"}

In [67]:
year = []
director = []

for i in df["json_col"]:
    i = i.replace("{","")
    i = i.replace("}","")
    a = (i.split(":"))
    b = (a[1].split(","))
    year.append(b[0])
    director.append(a[2].replace('"',"").strip())

In [70]:
df1 = df[["title"]]
df1["Year"] = year
df1["Director"] = director

In [71]:
df1

                      title   Year              Director
0  The Shawshank Redemption   1994        Frank Darabont
1             The Godfather   1972  Francis Ford Coppola
2           The Dark Knight   2008     Christopher Nolan