## Question:

**You have 8 variable a,b,c,d,e,f,g,h. From these 8 varibles pick any 5 random variables**

**Example**
> a,b,c,d,e<br>
> e,c,d,f,g<br>

**But there should not be any combination repeated. Then create a table with all those combinations.**

---

## Code:

In [29]:
x = ["a","b","c","d","e","f","g","h"]
z = []
a = [0,1,2,3,4,5,6,7]
b = []

{0, 1, 2, 3, 4, 5, 6, 7}

In [20]:
import random
import pandas as pd

a = ["a","b","c","d","e","f","g","h"]

df = pd.DataFrame(columns=["L1","L2","L3","L4","L5"])

for i in range(10):
    b = random.sample(a,5)
    df.loc[i] = b
df

  L1 L2 L3 L4 L5
0  e  f  c  a  h
1  g  d  h  b  f
2  f  e  a  h  b
3  a  f  e  c  d
4  c  b  a  e  h
5  b  h  g  c  e
6  g  f  d  e  h
7  c  d  h  g  a
8  e  d  c  b  f
9  c  b  e  a  d